[data-ui-warning-heading] {
  align-items: center;
  display: flex;
  gap: 0.65rem;
}

[data-ui-warning-heading] mat-icon {
  color: #ba1a1a;
}

[data-ui-delete-button] {
  background-color: #ba1a1a;
  color: #fff;
}
