td a {
  color: var(--mat-sys-tertiary);
  font-weight: 600;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

[data-selection-footer] {
  inset-inline: var(--project-sidebar-width, 0) 0;
}
