:host {
  display: block;
}

mat-card {
  max-width: 42rem;
}

mat-card-content {
  padding: 1.5rem;
}

[data-source-data] {
  --mat-card-outlined-outline-color: var(--mat-sys-error);
}

[data-finder-preferences] mat-card-content p,
[data-source-data] mat-card-content p {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

[data-deletion-preview][data-error] {
  color: var(--mat-sys-error);
}
