[data-project-date] + [data-project-date] {
  border-left: 1px solid var(--mat-sys-outline-variant);
}

[data-empty] mat-icon {
  color: var(--mat-sys-tertiary);
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

@media (width <= 640px) {
  [data-project-date] + [data-project-date] {
    border-left: 0;
  }
}
